<script type="text/template" id="navbar-template">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">lets<span>Drip</span>PK</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon text-light"><i class="fas fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Jackets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Wallets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Belts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">New Arrivals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-link" href="#"><i class="fas fa-shopping-bag"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </script>